@font-face {
    font-family: MPLUS1p-regular;
    src: url(fonts/M_PLUS_1p/MPLUS1p-Regular.ttf);
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: MPLUS1p-regular;
}

.page{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.left-side .dashboard img {
    width: 50px;
    height: 50px;
}

img{
    width: 30px;
    height: 30px;
}

.text{
    font-size: 20px;
}

.dashboard .text{
    font-size: 35px;
}

.left-side{
    padding-left: 15px;
    padding-top: 30px;
    background-color:#b91c1c;
    color: black;
    display: grid;
    grid-template-rows: 100px 350px 100px;
}

.dashboard{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.top-menu{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(5, 50px);
}
.bottom-menu{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(3, 50px);
}
.right-side{
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.top-bar{
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 50px;
}

input{
    background-color: #ffe4e6;
    border: none;
    border-radius: 20px;
    width: 500px;
}

.top-top .account-icon{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
.bottom-bottom .account-icon{
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.top-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 10px;
}

.left{
    display: flex;
}

.right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.bottom-bottom{
    display: grid;
    grid-template-columns: 100px 300px 1fr;
    align-items: center;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 50px;
}

button{
    background-color: #fee2e2;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.account-name{
    justify-self: end;
}

.main-content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #fee2e2;
    padding: 7px;
    gap: 7px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 5px;
    
}

.card{
    background-color: #fca5a5;
    border-radius: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px black ;
}

.icons{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.announcements{
    background-color: #fca5a5;
    border-radius: 20px;
    padding-left: 7px;
    box-shadow: 5px 5px 5px black ;
}

.trending{
    background-color: #fca5a5;
    border-radius: 20px;
    padding-left: 7px;
    box-shadow: 5px 5px 5px black ;
}

.side{
    padding-right: 10px;
}

